.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-container {
    display: flex;
    flex-direction: row;
}

.cart-article {
    padding: 1.5rem 0.5rem;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
}

.cart-img {
    object-fit: contain;
    object-position: center center;
    border-radius: 14px;
    height: 10rem;
    width: auto;
}

.column-cart-info {
    margin: 1.2rem 1rem;
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.btn-primary {
    margin-top: 2rem;
}

.buy input {
    width: 1rem;
    text-align: left;
    padding: 0 1rem 0 1.5rem;
    margin: 0;
}

@media (max-width: 990px) {
    #cart-products .cart-info {
        flex-direction: column;
    }

    .column-cart-info {
        margin: 1rem 0;
        max-width: 50%;
    }

    .product-title {
        text-align: center;
    }

    .buy {
        margin: 0 auto;
    }
}


@media (max-width: 780px) {
    .cart-container {
        flex-direction: column;
    }

    #total .cart-info {
        flex-direction: column;
    }
}