body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:darkcyan ;
}

header a i {
    color: white;
    font-size: 3rem;
    padding: 1.5rem;
}

header nav ul{
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
}

header nav ul li a{
    color: white;
}